MONGO_URI=mongodb+srv://anushahajari97_db_user:GKeI8mBMxiLR7FcM@cluster0.uo5rfra.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=work_setu_db
PORT=5000
VITE_API_URL=http://localhost:8000